<div class="body">
  <div class="header">
    <mat-toolbar color="primary" class="app-header" style="position: inherit;">
      <div>
        <a href="#" target="_blank" class="positronx" style="text-decoration: none; color: white;">
          <!-- FIXME: Style is not required here but if removed text doesn't work on homepage -->
          Secure Chat
        </a>
      </div>
      <div *ngIf="!this.authenticationService.currentUserValue.token" class="nav-tool-items">
        <a class="link" routerLink="signin">SignIn</a>
        <a class="link underline" routerLink="register">Register Now!</a>
      </div>
      <div *ngIf="this.authenticationService.currentUserValue.token" class="nav-tool-items">
        <a class="link" routerLink="logout">
          <!-- FIXME: the style is not needed in above a tag fix it -->
          Logout
        </a>
      </div>
    </mat-toolbar>
  </div>

  <router-outlet></router-outlet>

</div>